<%- include("header") -%>
  <section class="colored-section" id="title">

    <div class="container-fluid">

      <!-- Nav Bar -->

      <nav class="navbar navbar-expand-lg navbar-dark">

        <a class="navbar-brand" href="">sueEWV</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

          <ul class="navbar-nav ml-auto">

            <li class="nav-item">
              <a class="nav-link" href="#security-deposit">Security Deposit</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#early-termination">Early Termination</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#testimonials">Law</a>
            </li>
          </ul>

        </div>
      </nav>


      <!-- Title -->

      <div class="row">

        <div class="col-lg-8">
          <h1 class="big-heading">Sometimes law is your only weapon.</h1>
          <p>
              This site provides all you need to sue Eaves West Valley
          </p>


          <button type="button" class="btn btn-light btn-lg download-button" onclick="location.href='/pdf/SmClComplaint-.pdf';"><i class="far fa-file-alt"></i> Download Form</button>
          <button type="button" class="btn btn-outline-light btn-lg download-button" onclick="location.href='https://caltenantlaw.com/';"><i class="fas fa-gavel"></i> Contact Lawyer</button>
        </div>

        <div class="col-lg-4">
          <img class="title-image" src="ladyJustice.png" alt="iphone-mockup">
        </div>

      </div>

    </div>

  </section>


  <!-- Features -->

  <section class="white-section" id="features">

    <div class="container-fluid">

      <div class="row">
        <div class="feature-box col-lg-4">
          <i class="icon fas fa-check-circle fa-4x"></i>
          <h3 class="feature-title">Legal Resource.</h3>
          <p>We provide all legal resources to file your complaint.</p>
        </div>

        <div class="feature-box col-lg-4">
          <!-- <i class="icon fas fa-fist-raised fa-4x"></i> -->
          <i class="icon fas fa-hand-rock fa-4x"></i>
          <h3 class="feature-title">Know Your Right.</h3>
          <p>Understand your right in every situation.</p>
        </div>

        <div class="feature-box col-lg-4">
          <!-- <i class="icon fas fa-heart fa-4x"></i> -->
          <i class="icon fas fa-balance-scale fa-4x"></i>
          <h3 class="feature-title">Why Should I Sue?</h3>
          <p>Nobody likes lawsuits, but sometimes it is the only way to get what you want.</p>
        </div>
      </div>


    </div>
  </section>


<!-- tenant right -->
  <section class="colored-section" id="tenant-right">
    <div>
      tenant-right
    </div>
  </section>


  <!-- Security Deposit -->
    <section class="colored-section" id="security-deposit">
      <div class="container-topic">
        <h2 class="topic-title-l">Security Deposit</h2>
        <div class="row">
          <p class="p-light">
            If it weren’t landlords doing it, the culprits would be spending years in prison for felony grand theft embezzlement.
          </p>
          <div class="topic-button col-lg-12">
            <button type="button" class="btn btn-dark download-button" onclick="location.href='https://caltenantlaw.com/security-deposits/';"><i class="fas fa-search"></i> More on Security Deposit</button>
          </div>
        </div>

      </div>

    </section>

<!-- Early Termination -->
  <section class="white-section" id="early-termination">

    <div class="container-topic">
      <h2 class="topic-title-d">Early Termination</h2>
      <div class="row">
        <p class="p-dark">
          There comes a time when you need to get out of your lease, and your landlord won’t let you. How you handle it from there makes all the difference in how you come out. Do it right.
        </p>
        <div class="topic-button col-lg-12">
          <button type="button" class="btn btn-dark download-button" onclick="location.href='https://caltenantlaw.com/breaking-your-lease/';"><i class="fas fa-search"></i> More on Early Termination</button>
        </div>
      </div>

    </div>
  </section>



  <section class="colored-section" id="cta">

    <div class="container-fluid">

      <h3 class="big-heading">Fight For Your Right Today.</h3>
      <button type="button" class="btn btn-light btn-lg download-button" onclick="location.href='/pdf/SmClComplaint-.pdf';"><i class="far fa-file-alt"></i> Download Form</button>
      <button type="button" class="btn btn-outline-light btn-lg download-button" onclick="location.href='https://caltenantlaw.com/';"><i class="fas fa-gavel"></i> Contact Lawyer</button>
    </div>
  </section>



<%- include("footer") -%>
